doctype html
html(lang='en-GB')
    head
        link(rel='stylesheet', href='./style.css')
        link( href="https://fonts.googleapis.com/css2?family=Lora&display=swap", rel="stylesheet")
        meta(name='viewport', content='width=device-width, initial-scale=1' )
        meta(name='description' content='Timings for live football commentaries on the radio')
        link(rel='icon' type='image/svg+xml' href='favicon.svg')
        link(rel='manifest' href='/manifest.webmanifest')
        title= 'English football on the radio'

    body
        div(class='container')
            h1(class='page-title')= 'Football' 
            p(class='page-subtitle')= 'on the radio'

            input(placeholder='Search...' id='filter-input' list='filter-datalist' autofocus)
            datalist(id='filter-datalist')
                select(size=10)
                    each filterOption in filterOptions
                        option(value=filterOption)

            each date in matches
                h2(class='date' data-date=date.date)= date.date
                table(data-date=date.date)
                    each match in date.matches
                        tr(data-teams=match.title data-competition=match.competition)
                            td(class='time')
                                a(href=match.calString)= match.time
                            td(class='title')= match.title
                        tr(data-teams=match.title data-competition=match.competition)                        
                            td(class='station')= match.station
                            td(class='competition')= match.competition

        script(type="text/javascript", src="./filter.js")
