doctype html
html(lang='en-GB')
    head
        link(rel='stylesheet', href='../style.css')
        link( href="https://fonts.googleapis.com/css2?family=Lora&display=swap", rel="stylesheet")
        meta(name='viewport', content='width=device-width, initial-scale=1' )
        meta(name='description' content='Timings for live football commentaries on the radio')
        link(rel='icon' type='image/svg+xml' href='/favicon.svg')
        link(rel='manifest' href='/manifest.webmanifest')
        title= 'English football on the radio'

    body
        div(class='container')
            ul
                li
                    a(href='/')= 'Home'
                li
                    a(href='/teams')= 'Teams'
                li
                    a(href='/competitions')= 'Comps'
                li
                    a(href='/stations')= 'Stations'

            h1(class='page-title')= 'Football' 
            p(class='page-subtitle')= 'on the radio'

            block content

