
extends base.pug

block content
    each date in matches
        h2(class='date' data-date=date.date)= date.date
        table(data-date=date.date)
            each match in date.matches
                tr(data-teams=match.title data-competition=match.competition)
                    td(class='time')
                        a(href=match.calString)= match.time
                    td(class='title')= match.title
                tr(data-teams=match.title data-competition=match.competition)                        
                    td(class='station')= match.station
                    td(class='competition')= match.competition

